<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
    <li *ngFor="let list of filterLists | object2array">
        {{ list.key}}
        <ul *ngFor="let fruit of list.value.fruits| object2array ">
            {{fruit.value}}
        </ul>
    </li>
</ul>
<ul>
    <li *ngFor="let list of filterLists | object2array">
        {{ list.key}}
        <ul *ngFor="let drink of list.value.drinks| object2array ">
            {{drink.value}}
        </ul>
    </li>
</ul>
<button (click)="applyFilterOnIds()"> apply filter on ids </button>
<button (click)="applyFilterOnFruits()"> apply filter on FRUITS </button>
<button (click)="clearFilter()"> remove filter </button>